<section class="recaptcha-demo-wrapper">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <img src="images/angular.svg" height="40px" [title]="logoTitle" style="margin-right: 8px" />
      <span>{{ site.title }}</span>
      <span class="filler"></span>

      <button
        mat-icon-button
        data-cy="language-settings-menu"
        [matMenuTriggerFor]="langMenu"
        aria-label="Language settings"
      >
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <mat-radio-group
          aria-label="Select reCAPTCHA language"
          [value]="selectedLanguage"
          (change)="onLangChange($event.value)"
        >
          <mat-list>
            <mat-list-item>
              <mat-radio-button value="">Default</mat-radio-button>
            </mat-list-item>
            <mat-list-item>
              <mat-radio-button value="de">🇩🇪 Deutsche</mat-radio-button>
            </mat-list-item>
            <mat-list-item>
              <mat-radio-button value="fr">🇫🇷 Français</mat-radio-button>
            </mat-list-item>
          </mat-list>
        </mat-radio-group>
      </mat-menu>

      <a *ngIf="!mobileQuery.matches" mat-button href="https://github.com/DethAriel/ng2-recaptcha">
        <!-- TODO: misalignment exists in Material buttons with custom icons -->
        <mat-icon style="line-height: 1" svgIcon="octocat"></mat-icon>
        <span>GitHub</span>
      </a>
      <a
        *ngIf="mobileQuery.matches"
        aria-label="GitHub repository"
        mat-icon-button
        href="https://github.com/DethAriel/ng2-recaptcha"
      >
        <mat-icon svgIcon="octocat"></mat-icon>
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav
      #sidenav
      (closed)="sidebarOpened = false"
      [opened]="!mobileQuery.matches || sidebarOpened"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <h3>Examples</h3>
        <a
          mat-list-item
          *ngFor="let link of navLinks"
          [routerLink]="[link.path]"
          queryParamsHandling="preserve"
          [class.active]="page && page.feature === link.feature"
        >
          {{ link.label }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="layout">
        <mat-toolbar color="primary">
          <button
            mat-icon-button
            *ngIf="mobileQuery.matches"
            (click)="sidebarOpened = true"
            aria-label="See navigation"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span data-cy="page-title" *ngIf="page">{{ page.title }}</span>
        </mat-toolbar>
        <main>
          <div class="example-container">
            <router-outlet></router-outlet>
          </div>

          <mat-tab-group *ngIf="page">
            <mat-tab>
              <ng-template mat-tab-label>
                <code>{{ page.feature }}.component.html</code>
              </ng-template>
              <pre [innerHTML]="page.content.html"></pre>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <code>{{ page.feature }}.component.ts</code>
              </ng-template>
              <pre [innerHTML]="page.content.component"></pre>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <code>main.ts</code>
              </ng-template>
              <pre [innerHTML]="page.content.module[selectedLanguage]"></pre>
            </mat-tab>
            <mat-tab *ngIf="page.content.additional">
              <ng-template mat-tab-label>
                <code>{{ page.content.additional.title }}</code>
              </ng-template>
              <pre [innerHTML]="page.content.additional.content"></pre>
            </mat-tab>
          </mat-tab-group>
        </main>
        <footer>
          <div>
            <img src="images/angular.svg" height="32px" />
          </div>
          <div>
            <h3>{{ site.title }}</h3>
          </div>
          <span>{{ site.description }}</span>
        </footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</section>
