# Editor settings
.vscode/

# OS files
.DS_Store

# compiled sources
*.js
*.d.ts

# Angular AoT output
*.metadata.json
factories/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
