# Editor settings
.vscode/

# demo sources
demo/
demo-v7/
demo-v6/

# TypeScript-related files
*.ts
!*.d.ts
tsconfig*.json
tslint.json
ng-lint.json

# Debug files
*.js.map

# Other
.github
.editorconfig
.nvmrc
.travis.yml
# Seems like changelog can't be ignored
# CHANGELOG.md
CONTRIBUTING.md
yarn-error.log
yarn.lock

# Build files
ng-recaptcha-*.tgz
