# Editor settings
.vscode/

# typings
typings/
typings.json

# TypeScript-related files
*.ts
!*.d.ts
/recaptcha/**/*.ts
!/recaptcha/**/*.d.ts
tsconfig*.json
tslint.json
ng2-lint.json

# Debug files
*.js.map

# Other
.travis.yml
.editorconfig

# Angular AoT output
factories/
