<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }} | ng-recaptcha</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?_={{ site.cacheBusterVer }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-lime.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

  <script src="https://npmcdn.com/core-js/client/shim.min.js"></script>
  <script src="https://npmcdn.com/zone.js@0.8.5?main=browser"></script>
  <script src="https://npmcdn.com/reflect-metadata@0.1.3"></script>
  <script src="https://npmcdn.com/systemjs@0.19.27/dist/system.src.js"></script>

  <script src="{{ site.baseurl }}/examples/systemjs.config.js?_={{ site.cacheBusterVer }}"></script>
  <script>
    window.initSystemJS("{{ site.recaptchaMapping }}"{% if page.includeForms %}, {{ page.includeForms }} {% endif %});
  </script>
  {{ page.headextras }}
</head>

<body>
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <img src="{{ "/images/angular.svg" | prepend: site.baseurl }}" height="40px" class="mdl-layout--large-screen-only" />
        <span class="mdl-layout-title">{{ site.title }}</span>
        <span class="mdl-layout-title mdl-layout--large-screen-only">&nbsp;– {{ site.description }}</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="https://github.com/DethAriel/ng2-recaptcha#{{ page.backlink }}">
            <i class="material-icons">link</i>
            GitHub
          </a>
        </nav>
      </div>
      <div class="mdl-layout__tab-bar">
        <a href="{{ "/" | prepend: site.baseurl }}" class="mdl-layout__tab {% if page.feature == 'basic-demo' %} is-active {% endif %}">Basic</a>
        <a href="{{ "/forms" | prepend: site.baseurl }}" class="mdl-layout__tab {% if page.feature == 'forms-demo' %} is-active {% endif %}">Forms</a>
        <a href="{{ "/invisible" | prepend: site.baseurl }}" class="mdl-layout__tab {% if page.feature == 'invisible-demo' %} is-active {% endif %}">Invisible</a>
        <a href="{{ "/language" | prepend: site.baseurl }}" class="mdl-layout__tab {% if page.feature == 'language-demo' %} is-active {% endif %}">Language</a>
        <a href="{{ "/preload-api" | prepend: site.baseurl }}" class="mdl-layout__tab {% if page.feature == 'preload-api-demo' %} is-active {% endif %}">Preloaded</a>
        <a href="{{ "/global-config" | prepend: site.baseurl }}" class="mdl-layout__tab {% if page.feature == 'global-config' %} is-active {% endif %}">Global Config</a>
        <span class="mdl-layout__tab">&nbsp;</span>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--8-col-desktop mdl-cell--2-offset-desktop mdl-cell--6-col-tablet mdl-cell--1-offset-tablet mdl-cell--4-col-phone">

          {{ content }}

          <div class="example-container">
            <recaptcha-demo></recaptcha-demo>
          </div>

          <div class="code-samples mdl-tabs mdl-js-tabs">
            <div class="mdl-tabs__tab-bar">
              <a href="#template" class="mdl-tabs__tab is-active"><code>{{page.feature}}.component.html</code></a>
              <a href="#component" class="mdl-tabs__tab"><code>{{page.feature}}.component.ts</code></a>
              <a href="#module" class="mdl-tabs__tab"><code>main.ts</code></a>
              {% if page.addlCodeTitle1 %}<a href="#addl1" class="mdl-tabs__tab"><code>{{ page.addlCodeTitle1 }}</code></a>{% endif %}
            </div>

            <div class="mdl-tabs__panel is-active" id="template">
              {% capture html_content %}{% include_relative examples/app/{{page.feature}}.component.html %}{% endcapture %}
              <pre class="prettyprint lang-html">{{ html_content | escape }}</pre>
            </div>
            <div class="mdl-tabs__panel" id="component">
              <pre class="prettyprint lang-js">{% include_relative examples/app/{{page.feature}}.component.ts %}</pre>
            </div>
            <div class="mdl-tabs__panel" id="module">
              <pre class="prettyprint lang-js">{% include_relative examples/app/{{page.feature}}.main.ts %}</pre>
            </div>
            {% if page.addlCodeContent1 %}
            <div class="mdl-tabs__panel" id="addl1">
              <pre class="prettyprint lang-{{ page.addlCodeType1 }}">{% if page.addlCodeType1 == 'html' %}{{ page.addlCodeContent1 | escape }}{% else %}{{ page.addlCodeContent1 }}{% endif %}</pre>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</body>

</html>
