body, html {
  margin: 0;
  height: 100%;
}

recaptcha-demo, recaptcha-demo-wrapper {
  display: block;
  height: 100%;
}

body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
