.filler {
  flex: 1 1 auto;
}

:host > mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 2;
}

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-sidenav-container {
  flex: 1;
}

mat-sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

mat-nav-list {
  padding-top: 0;
}

mat-nav-list h3 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 16px;
  background: rgba(0,0,0,.32);
  color: hsla(0,0%,100%,.87);
}

mat-nav-list a {
  border-bottom: 1px solid rgba(0,0,0,.06);
}

mat-nav-list a.active {
  font-weight: 600;
}

main {
  padding: 15px;
}

mat-sidenav-content {
  height: 100%;
  display: block;
}

main {
  flex-grow: 1;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

footer {
  margin-top: 40px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background: #3f51b5;
  color: hsla(0,0%,100%,.87);
}

footer h3 {
  margin: 0;
}
