.recaptcha-demo-wrapper .filler {
  flex: 1 1 auto;
}

.recaptcha-demo-wrapper > mat-toolbar {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
}

.recaptcha-demo-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recaptcha-demo-wrapper mat-sidenav-container {
  flex: 1;
}

.recaptcha-demo-wrapper mat-sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.recaptcha-demo-wrapper mat-nav-list {
  padding-top: 0;
}

.recaptcha-demo-wrapper mat-nav-list h3 {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.32);
  color: hsla(0, 0%, 100%, 0.87);
}

.recaptcha-demo-wrapper mat-nav-list a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.recaptcha-demo-wrapper mat-nav-list a.active {
  font-weight: 600;
}

.recaptcha-demo-wrapper main {
  padding: 15px;
  flex-grow: 1;
}

.recaptcha-demo-wrapper mat-sidenav-content {
  height: 100%;
  display: block;
}

.recaptcha-demo-wrapper .layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.recaptcha-demo-wrapper footer {
  margin-top: 40px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background: #3f51b5;
  color: hsla(0, 0%, 100%, 0.87);
}

.recaptcha-demo-wrapper footer h3 {
  margin: 0;
}
